############ General packages
tqdm
glob2

############ Firebase packages
pyrebase
requests>=2.26
numpy
opencv-python
scp
pynput

############ Image deblurring packages
pylops

############ Inspection packages
matplotlib
pandas
scipy
scikit-image
imutils
pillow

############ Visualization packages
osmnx==1.1.2
folium
scikit-learn 
# geopandas

############ Deep learning packages
tqdm
torch
tensorflow

############ Annotation packages
# nuscens
nuscenes-devkit==1.1.9
#UltimateLabeling
PyQt5
opencv-contrib-python==4.1.2.30
paramiko
# folium

############ labelme Annotation packages
video-cli
